/* 全局样式 */

/* 美化滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  min-height: 6px;
  cursor: pointer;
  background-color: #dddee0;
  background-clip: padding-box;
  border-radius: 2em;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c7c9cc;
}
